footer 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    row-gap: 10px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(214, 214, 214);
    align-self: flex-end;
}
footer .f1 
{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap:20px;
    row-gap: 20px;
}
footer .text-cont-f
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
footer .text-cont-f h2 
{
    font-size: 20px;
    color: black;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
}
footer .text-cont-f p 
{
    display: flex;
    flex-direction: column;
    margin: 0px;
    row-gap: 10px;
    font-size: 18px;
}
footer .text-cont-f p a 
{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
footer .text-cont-f p a:hover 
{
    color: green !important;
    transition: 0.3s;
}
footer .text-cont-f .text  
{
    font-size: 18px;
    margin: 0px;
    color: black;
    text-align: justify;
    width: 350px;
}
@media screen and (max-width:500px)
{
    footer .text-cont-f .text  
    {
        font-size: 20px;
        margin: 0px;
        color: gray;
        text-align: justify;
        width: 100%;
    }
    footer .text-cont-f h2
    {
        width: 100%;
        text-align: center;
    }
}
footer .img-cont 
{
    width: 100%;
    height: 30px;
    justify-content: center;
}
footer hr 
{
    width: 100%;
    margin-top: 30px;
    height: 1px;
    border: none;
    background-color: gray;
}
footer .f2 
{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
footer .f2 .social-cont
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}
footer .f2 .social-cont1:hover
{
    background-color: #3b5998;
    color: white;
}
footer .f2 .social-cont2:hover
{
    background-color: #00aced;
    color: white;
}
footer .f2 .social-cont3:hover
{
    background-color: #ea4c89;
    color: white;
}
footer .f2 .social-cont4:hover
{
    background-color: darkred;
    color: white;
}
footer .f3 
{
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 0px;
    margin-top: 20px;
}

@media screen and (max-width:1400px) {
    .footerCont 
    {
        width: 100%;
    }
    .f1 
    {
        width: 100% !important;
    }
}