body {
  margin: 0;
  
}
body {
  font-family: 'Poppins';
}

a 
{
  text-decoration: none !important;
  cursor: pointer;
  color: black;
  transition: color 0.5s;
}
button 
{
  cursor: pointer;
}
a:hover  
{
  color: gray !important;
}

.mainCont
{
  display: flex;
  justify-content: center;
  width: 100%;
}

.page
{
  min-height: 100%;
  /* background-color: lightgray; */
  width: 1400px;
  height: auto;

}