body {
  margin: 0;
  
}
body {
  font-family: 'Poppins';
}

a 
{
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s;
}

a:hover  
{
  color: gray !important;
}

.mainCont
{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  min-height: 100vh;
}

.page
{
  min-height: 100%;
  /* background-color: lightgray; */
  width: 1400px;
  height: auto;

}