body {
  margin: 0;
  
}
body {
  font-family: 'Poppins';
  background-color: rgb(161, 159, 159);

}

a 
{
  text-decoration: none !important;
  cursor: pointer;
  color: black;
  transition: color 0.5s;
}
p , button , h2, h1 
{
  margin: 0px;
}
button 
{
  cursor: pointer;
}
/* a:hover  
{
  color: gray !important;
} */

.mainCont
{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.page
{
  min-height: 100%;
  /* background-color: lightgray; */
  width: 1400px;
  height: auto;
}